<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.febrian.startask">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarTask">
        <activity
            android:name=".ui.child.RewardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.detail.DetailRewardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.parent.reward.CreateRewardActivity"
            android:exported="true" />
        <activity
            android:name=".ui.detail.DetailTaskActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/FullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/FullScreen"
            android:name=".ui.child.ChildHomeActivity"
            android:exported="true"
            android:label="@string/title_activity_child_home" />
        <activity
            android:name=".ui.parent.ParentHomeActivity"
            android:exported="true"
            android:theme="@style/FullScreen"
            android:label="@string/title_activity_parent_home" />
        <activity
            android:name=".ui.parent.task.CreateTaskActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.JoinFamilyActivity"
            android:exported="true" />
        <activity
            android:name=".ui.auth.CreateFamilyActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/FullScreen"
            android:exported="true" />

        <receiver
            android:name=".utils.SendNotification"
            android:enabled="true"
            android:exported="true" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>